<section class="head">
  <section (click)="openMenu()">
    <div></div>
    <div></div>
    <div></div>
  </section>
  <p>Twitter</p>
  <section id="menu-animation" class="pMenu">

    <div class="menu-capsule">
      <div class="menu-title">
        <p>TWITTER</p>
        <div (click)="closeMenu()" class="menu-exit">
          <div class="n1"></div>
          <div class="n2"></div>
        </div>

      </div>
      <div class="line"></div>
      <section class="profile-menu">
        <div class="profile-img"><img (click)="logout()" id="p-img" [src]="img">
        </div>
        <div class="menu-auth">
          <div [routerLink]="'login'" (click)="closeMenu()" class="login">
            Login
          </div>
          <div [routerLink]="'register'" (click)="closeMenu()" class="register">
            Register
          </div>
        </div>
      </section>

      <section class="menu-routes">
        <div [routerLink]="'create'" (click)="closeMenu()">Create Comment</div>
        <div [routerLink]="'show'" (click)="closeMenu()">Display Comments</div>

      </section>

      <section class=" copyright">
        Rafa Dev Copyright ©
      </section>
    </div>
  </section>
</section>


<p id="state" style="display:none">0</p>
