<section>
  <div class="sec">
    <div class="img"></div>
    <div class="name sec">Rafa</div>
    <div class="location sec">📍 Mallorca</div>
  </div>
  <div class="info-section sec">
    <table>
      <tr>
        <th>15</th>
        <th>5k</th>
        <th>136</th>
      </tr>
      <tr>
        <td>Posts</td>
        <td>Followers</td>
        <td>Follows</td>
      </tr>
    </table>
  </div>
  <div class="posts">
    <div class="container-post">
      <div>✉️ Posts</div>
      <div>?</div>
    </div>
    <div class="posts-feed">
      <div class="first-part">
        <div class="name_photo">
          <div class="photo_post"></div>
          <div class="photo_name">Rafa</div>
        </div>
        <div class="date">15:35</div>
      </div>
      <div class="second-part">
        <p class="title_post">TEST2</p>
        <p class="content_post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus tincidunt magna ac
          congue. Donec pellentesque ex
          quis varius volutpat. Phasellus molestie id risus luctus ultrices. Suspendisse a sem aliquam, condimentum nibh
          quis,
          molestie justo. Proin facilisis pharetra mauris vel posuere.</p>
      </div>
      <div class="buttons_post">
        <div class="line1"></div>
        <div class="line2">
          <input type="button" value="❤️ 105">
          <div class="line3"></div>
          <input type="button" value="Follow">
        </div>
      </div>
    </div>
    <br>
  </div>

  <div>
  </div>
</section>
